* {
		margin: 0px;
		padding: 0px;
}
html {
		height:100%;
}
body, p, td, th {
		color:#000000;
		font-family:Arial,Helvetica,sans-serif;
		font-size:11px;
}
body {
	    background-image:url('/imageservlet?webImageName=background_site.jpg');
	    background-position:top center;
	    background-repeat:no-repeat;
	    margin-left: 0px;
	    margin-top: 0px;
	    margin-right: 0px;
	    margin-bottom: 0px;
}
table {
		border-spacing:0px;
}
table td {
		padding:0px;
}
#main_table {
		margin-left:auto;
		margin-right:auto;
		width:800px;
		background-color:#FFFFFF;
		min-height:100%;
		height:auto !important;
		height:100%;
}
img {
		border:0px;
}
a:link, a:active, a:hover, a:visited {
		text-decoration:none;
		color:#F00707;
}
form {
		margin:0px;
		padding:0px;
}
input {
		margin:0px;
		padding:2px 0px;
		font-size:11px;
		border:1px solid #7f9db9;
}
select {
		margin:0px;
		padding:1px 0px;
		font-size:11px;
		border:1px solid #7f9db9;
}
.alignment_center {
		text-align:center;
}
.alignment_right {
		text-align:right;
}
.alignment_left {
		text-align:left;
}
.alignment_top {
		vertical-align:top;
}
.alignment_middle {
		vertical-align:middle;
}
.alignment_bottom {
		vertical-align:bottom;
}
.color_site_default {
		color:#000000;
}
.color_site_black,a.color_site_black:link,a.color_site_black:visited,a.color_site_black:active {
		color:#000000;
}
.color_site_white,a.color_site_white:link,a.color_site_white:visited,a.color_site_white:active {
		color:#FFFFFF;
}
.color_site_red,a.color_site_red:link,a.color_site_red:visited,a.color_site_red:active {
		color:#ff3300;
}
.color_site_1,a.color_site_1:link,a.color_site_1:visited,a.color_site_1:active {
		color:#333333;
}
.color_site_2,a.color_site_2:link,a.color_site_2:visited,a.color_site_2:active {
		color:#ffff00;
}
.color_site_3,a.color_site_3:link,a.color_site_3:visited,a.color_site_3:active {
		color:#000000;
}
.color_site_4,a.color_site_4:link,a.color_site_4:visited,a.color_site_4:active {
		color:#999999;
}
.color_site_5,a.color_site_5:link,a.color_site_5:visited,a.color_site_5:active {
		color:#970100;
}
.background_site_1 {
		background-color:#f13603;
}
.background_site_2 {
		background-color:#962d34;
}
.background_site_3 {
		background-color:#eeeeee;
}
.background_site_4 {
		background-color:#969696;
}
.background_site_5 {
		background-color:#747474;
}
.background_site_6 {
		background-color:#676767;
}
.background_site_7 {
		background-color:#D3D3D3;
}
.background_none {
		background-image:none;
}
.border_none {
	    border: none;
}
.border_style_1 {
		border:1px solid #962d34;
}
.border_style_2 {
		border:1px solid #5c5c5c;
}
.border_style_black {
		border:1px solid #000000;
}
.border_style_white {
		border:1px solid #FFFFFF;
}
.border_dotted_black {
		border:1px dotted #000000;
}
.border_top_style_1 {
		border-top:1px solid #962d34;
}
.border_top_style_2 {
		border-top:1px solid #bababa;
}
.border_top_black {
		border-top:1px solid #000000;
}
.border_top_white {
		border-top:1px solid #FFFFFF;
}
.border_top_dotted_black {
		border-top:1px dotted #000;
}
.border_bottom_style_1 {
		border-bottom:1px solid #acacac;
}
.border_bottom_style_2 {
		border-bottom:1px solid #bababa;
}
.border_bottom_style_3 {
		border-bottom:2px solid #962d34;
}
.border_bottom_style_4 {
	    border-bottom: 1px solid #d8d8d8;
}
.border_bottom_black {
		border-bottom:1px solid #000000;
}
.border_bottom_white {
		border-bottom:1px solid #FFFFFF;
}
.border_bottom_dotted_black {
		border-bottom:1px dotted #000;
}
.border_left_style_1 {
		border-left:1px solid #962d34;
}
.border_left_style_2 {
		border-left:1px solid #bababa;
}
.border_left_black {
		border-left:1px solid #000000;
}
.border_left_white {
		border-left:1px dotted #000000;
}
.border_left_dotted_black {
		border-left:1px dotted #000;
}
.border_right_style_1 {
		border-right:1px solid #962d34;
}
.border_right_style_2 {
		border-right:1px solid #bababa;
}
.border_right_black {
		border-right:1px solid #000000;
}
.border_right_white {
		border-right:1px solid #FFFFFF;
}
.border_right_dotted_black {
		border-right:1px dotted #000;
}
.border_right_dotted_white {
		border-right:1px dotted #fff;
}
.border_right_dotted_grey {
		border-right:1px dotted #d8d8d8;
}
.display_cursor_hand {
		cursor:pointer;
}
.display_block {
		display:block;
}
.display_inline_block {
		display:inline-block;
}
.display_none {
		display:none;
}
.display_no_wrap {
		white-space:nowrap;
}
.font_caps {
		text-transform:uppercase;
}
.font_bold {
		font-weight:bold;
}
.font_no_bold {
		font-weight:normal;
}
.font_italics {
		font-style:italic;
}
.font_linethrough, a.font_linethrough:link, a.font_linethrough:visited, a.font_linethrough:active {
		text-decoration:line-through;
}
.font_nodecoration {
		text-decoration:none;
}
.font_text_indent_10 {
		text-indent:10px;
}
.font_underline,a.font_underline:link,a.font_underline:visited,a.font_underline:active {
		text-decoration:underline;
}
.float_left {
		float:left;
}
.float_right {
		float:right;
}
.float_none {
		float:none;
}
.margin_auto {
		margin:auto;
}
.margin_0 {
		margin:0px;
}
.margin_1 {
		margin:1px;
}
.margin_2 {
		margin:2px;
}
.margin_3 {
		margin:3px;
}
.margin_4 {
		margin:4px;
}
.margin_5 {
		margin:5px;
}
.margin_10 {
		margin:10px;
}
.margin_15 {
		margin:15px;
}
.margin_top_auto {
		margin-top:auto;
}
.margin_top_0 {
		margin-top:0px;
}
.margin_top_1 {
		margin-top:1px;
}
.margin_top_2 {
		margin-top:2px;
}
.margin_top_3 {
		margin-top:3px;
}
.margin_top_4 {
		margin-top:4px;
}
.margin_top_5 {
		margin-top:5px;
}
.margin_top_10 {
		margin-top:10px;
}
.margin_top_15 {
		margin-top:15px;
}
.margin_bottom_auto {
		margin-bottom:auto;
}
.margin_bottom_0 {
		margin-bottom:0px;
}
.margin_bottom_1 {
		margin-bottom:1px;
}
.margin_bottom_2 {
		margin-bottom:2px;
}
.margin_bottom_3 {
		margin-bottom:3px;
}
.margin_bottom_4 {
		margin-bottom:4px;
}
.margin_bottom_5 {
		margin-bottom:5px;
}
.margin_bottom_10 {
		margin-bottom:10px;
}
.margin_bottom_15 {
		margin-bottom:15px;
}
.margin_right_auto {
		margin-right:auto;
}
.margin_right_0 {
		margin-right:0px;
}
.margin_right_1 {
		margin-right:1px;
}
.margin_right_2 {
		margin-right:2px;
}
.margin_right_3 {
		margin-right:3px;
}
.margin_right_4 {
		margin-right:4px;
}
.margin_right_5 {
		margin-right:5px;
}
.margin_right_10 {
		margin-right:10px;
}
.margin_right_15 {
		margin-right:15px;
}
.margin_left_auto {
		margin-left:auto;
}
.margin_left_0 {
		margin-left:0px;
}
.margin_left_1 {
		margin-left:1px;
}
.margin_left_2 {
		margin-left:2px;
}
.margin_left_3 {
		margin-left:3px;
}
.margin_left_4 {
		margin-left:4px;
}
.margin_left_5 {
		margin-left:5px;
}
.margin_left_10 {
		margin-left:10px;
}
.margin_left_15 {
		margin-left:15px;
}
.padding_0 {
		padding:0px;
}
.padding_1 {
		padding:1px;
}
.padding_2 {
		padding:2px;
}
.padding_3 {
		padding:3px;
}
.padding_4 {
		padding:4px;
}
.padding_5 {
		padding:5px;
}
.padding_10 {
		padding:10px;
}
.padding_15 {
		padding:15px;
}
.padding_top_0 {
		padding-top:0px;
}
.padding_top_1 {
		padding-top:1px;
}
.padding_top_2 {
		padding-top:2px;
}
.padding_top_3 {
		padding-top:3px;
}
.padding_top_4 {
		padding-top:4px;
}
.padding_top_5 {
		padding-top:5px;
}
.padding_top_10 {
		padding-top:10px;
}
.padding_top_15 {
		padding-top:15px;
}
.padding_top_20 {
		padding-top:20px;
}
.padding_bottom_0 {
		padding-bottom:0px;
}
.padding_bottom_1 {
		padding-bottom:1px;
}
.padding_bottom_2 {
		padding-bottom:2px;
}
.padding_bottom_3 {
		padding-bottom:3px;
}
.padding_bottom_4 {
		padding-bottom:4px;
}
.padding_bottom_5 {
		padding-bottom:5px;
}
.padding_bottom_10 {
		padding-bottom:10px;
}
.padding_bottom_15 {
		padding-bottom:15px;
}
.padding_bottom_25 {
		padding-bottom:25px;
}
.padding_right_0 {
		padding-right:0px;
}
.padding_right_1 {
		padding-right:1px;
}
.padding_right_2 {
		padding-right:2px;
}
.padding_right_3 {
		padding-right:3px;
}
.padding_right_4 {
		padding-right:4px;
}
.padding_right_5 {
		padding-right:5px;
}
.padding_right_10 {
		padding-right:10px;
}
.padding_right_15 {
		padding-right:15px;
}
.padding_left_0 {
		padding-left:0px;
}
.padding_left_1 {
		padding-left:1px;
}
.padding_left_2 {
		padding-left:2px;
}
.padding_left_3 {
		padding-left:3px;
}
.padding_left_4 {
		padding-left:4px;
}
.padding_left_5 {
		padding-left:5px;
}
.padding_left_10 {
		padding-left:10px;
}
.padding_left_15 {
		padding-left:15px;
}
.size_extra_small {
		font-size:9px;
}
.size_small {
		font-size:10px;
}
.size_medium {
		font-size:11px;
}
.size_large {
		font-size:12px;
}
.size_extra_large_13 {
		font-size:13px;
}
.size_extra_large_14 {
		font-size:14px;
}
.size_extra_large_15 {
		font-size:15px;
}
.size_extra_large_16 {
		font-size:16px;
}
.size_extra_large_17 {
		font-size:17px;
}
.size_extra_large_18 {
		font-size:18px;
}
.size_extra_large_20 {
		font-size:20px;
}
.width_C1 {
		width:160px;
}
.width_C2 {
		width:320px;
}
.width_C3 {
		width:480px;
}
.width_C4 {
		width:640px;
}
.width_C5 {
		width:800px;
}
.width_full {
		width:100%;
}
.width_25 {
		width:25%;
}
.width_33 {
		width:33%;
}
.width_50 {
		width:50%;
}
a.over_underline:hover {
		text-decoration:underline;
}
a.over_no_underline:hover {
		text-decoration:none;
}
a.over_color_1:hover {
		color:#962d34;
}
a.over_color_2:hover {
		color:#f13603;
}
a.over_color_3:hover {
		color:#fee8b7;
}
a.over_color_white:hover {
		color:#ffffff;
}
a.over_color_black:hover {
		color:#000000;
}
a.over_bg_color_1:hover {
		background-color:#fee8b7;
}
a.over_bg_color_2:hover {
		background-color:#f13603;
}
a.over_bg_color_3:hover {
		background-color:#bababa;
}
input.form_input_text_1 {
		width:150px;
}
input.form_input_text_2 {
		width:60px;
}
select.form_select_1 {
		width:150px;
}
select.form_select_2 {
		width:100px;
}
select.form_select_3 {
		width:205px;
}
.form_checkbox_1 {
		margin:5px 5px 1px 0px;
		width:15px;
		height:15px;
}
textarea.form_text_area_1 {
		width:270px;
}
ul.list_style_1 {
		margin:0px 0px 0px 20px;
		padding:0px 0px 0px 0px;
}
ul.list_style_1 li {
		margin:0px 0px 0px 20px;
		padding:0px 0px 10px 0px;
		font-weight:normal;
}
ul.list_style_2 {
		margin:5px 0px 0px 20px;
		padding:0px 0px 0px 0px;
		list-style:disc;
}
ul.list_style_2 li {
		margin:0px 0px 0px 0px;
		padding:0px 5px 0px 0px;
		font-weight:normal;
		text-align:center;
}
ul.list_style_3 {
		margin:5px 0px 0px 20px;
		padding:0px 0px 0px 0px;
		list-style:disc;
}
ul.list_style_3 li {
		margin:0px 0px 0px 0px;
		padding:0px 5px 0px 0px;
		font-weight:normal;
		text-align:left;
}
ul.list_style_4 {
		margin:5px 0px 0px 5px;
		padding:0px 0px 0px 0px;
		list-style:none;
}
ul.list_style_4 li {
		margin:0px 0px 0px 0px;
		padding:0px 0px 0px 10px;
		font-weight:normal;
		text-align:left;
		background-image:url('imageservlet?webImageName=bullet_red.gif&languageId=en');
		background-repeat:no-repeat;
		background-position:0px 5px;
}
ul.list_style_5 {
		margin:10px 0px 0px 30px;
		padding:0px;
		list-style:none;
}
ul.list_style_5 li {
		margin:5px 0px 5px 0px;
		padding:0px;
		background-image:none;
}
ul.list_style_6 {
		margin:10px 0px 0px 0px;
		padding:0px;
		list-style:none;
}
ul.list_style_6 li {
		margin:5px 0px 5px 0px;
		padding:0px;
		background-image:none;
}
ul.list_style_7 {
		margin:5px 0px 0px 5px;
		padding:0px 0px 0px 0px;
		list-style:none;
}
ul.list_style_7 li {
		margin:0px 0px 0px 0px;
		padding:2px 0px 2px 10px;
		font-weight:normal;
		text-align:left;
		background-image:url('imageservlet?webImageName=bullet_arrow.gif&languageId=en');
		background-repeat:no-repeat;
		background-position:0px 5px;
}
ul.list_style_8 {
		margin:5px 0px 0px 5px;
		padding:0px 0px 0px 0px;
		list-style:none;
}
ul.list_style_8 li {
		margin:0px 0px 0px 0px;
		padding:2px 0px 2px 15px;
		font-weight:normal;
		text-align:left;
		background-image:url('imageservlet?webImageName=bullet_black_arrow.gif&languageId=en');
		background-repeat:no-repeat;
		background-position:0px 5px;
}
.validationError {
		padding:0px 0px 10px 0px;
}
.validationError span {
		display:block;
		color:#ee3308;
		font-weight:bold;
}
.field_text {
		text-align:right;
		padding:0px 10px 0px 0px;
}
.field {
		text-align:left;
		padding:0px 10px 0px 0px;
}
.field input {
		width:170px;
}
.field input.checkbox_default, input.checkbox_default {
		width:15px;
		height:15px;
		margin:1px 0px 0px 0px;
	    border: 0px;
}
.field select {
		width:150px;
}
h1,h2,h3,h4 {
		margin:0px;
		padding:0px;
}
.row1 {
		background-color:#FFFFFF;
}
.row1:hover {
		background-color:#cccccc;
}
.row2 {
		background-color:#eeeeee;
}
.row2:hover {
		background-color:#cccccc;
}
.selected_row {
		background-color:#de6f6f;
}
.row_disabled {
		background-color:#b2b1b1;
}
.pagination_table {
		width:100%;
		margin:0px 0px 0px 0px;
}
.pagination_table .pagination {
		text-align:right;
}
.pagination_table .sort_by,.pagination_table .per_page {
		padding:0px 15px 0px 0px;
		white-space:nowrap;
}
.pagination_table .next_link {
		padding:0px 0px 0px 10px;
}
.pagination_table .previous_link {
		padding:0px 10px 0px 0px;
}
.pagination_table .page_text {
		padding:0px 5px 0px 0px;
}
.pagination_table .sort_text {
		padding:0px 5px 0px 0px;
}
.pagination_table .per_page_text {
		padding:0px 5px 0px 15px;
}
.pagination_table .productsPerPage_select {
		width:60px;
}
.table_style_1 {
		background-image:url('/imageservlet?webImageName=background_table1_c4.gif&languageId=EN');
		background-repeat:no-repeat;
		height:45px;
		width:100%;
}
.table_style_1 .content {
		padding-left:290px;
}
.table_style_3 {
	    background-color: #ddd;
	    width: 400px;
	    margin-left: 10px;
}
.background_box_style_1 {
		background-image:url('/imageservlet?webImageName=background_box_style_1.gif&languageId=EN');
		background-repeat:repeat-x;
		background-color:#d6dfea;
		border-top:1px solid #fdfdfd;
}
.background_box_style_2 {
		background-image:url('/imageservlet?webImageName=background_cart_crumb_on.gif&languageId=EN');
		background-repeat:repeat-x;
		border-right:1px solid #ebebed;
		border-left:1px solid #ebebed;
}
.background_box_style_3 {
		background-image:url('/imageservlet?webImageName=background_cart_crumb_off.gif&languageId=EN');
		background-repeat:repeat-x;
}
.background_box_style_4 {
		background-image:url('/imageservlet?webImageName=shop_by_background.jpg&languageId=EN');
		background-repeat:repeat-x;
}
.background_box_style_5 {
		padding:0px;
}
.background_box_style_6 {
		background-image:url('/imageservlet?webImageName=back_yellow.gif&languageId=EN');
		background-repeat:repeat-x;
		border-top:1px solid #fdfdfd;
}
.button_style_1 {
		font-weight:bold;
		font-size:13px;
		text-transform:uppercase;
		background-image:url('/imageservlet?webImageName=background_button_1.gif&languageId=EN');
		background-repeat:no-repeat;
		background-position:right 3px;
		padding-right:13px;
}
a.button_style_2:link,a.button_style_2:active,a.button_style_2:visited, a.button_style_2:hover, .button_style_2 {
		border-top:1px solid #9a9a9a;
		border-bottom:1px solid #303030;
		border-left:1px solid #9a9a9a;
		border-right:1px solid #303030;
		background-color:#666666;
		color:#FFFFFF;
		font-weight:bold;
		padding:2px 5px 2px 5px;
		display:inline-block;
		white-space:nowrap;
}
a.button_style_2_disabled {
		border-top:1px solid #9a9a9a;
		border-bottom:1px solid #303030;
		border-left:1px solid #9a9a9a;
		border-right:1px solid #303030;
		background-color: #b2b1b1;
		color:#fff;
		font-weight:bold;
		padding:2px 5px 2px 5px;
		display:inline-block;
		white-space:nowrap;
		cursor:default;
}
a.button_style_3:link,a.button_style_3:active,a.button_style_3:visited,a.button_style_3:hover, .button_style_3 {
	    border-top:1px solid #e70e0f;
	    border-left:1px solid #e70e0f;
	    border-bottom:1px solid #690203;
	    border-right:1px solid #690203;
	    background-color:#ca0001;
	    color:#FFFFFF;
	    font-weight:bold;
	    padding:2px 5px 2px 5px;
	    display:inline-block;
	    white-space:nowrap;
}
a.button_style_image:link,a.button_style_image:visited,a.button_style_image:active,a.button_style_image:hover {
	    background-image:url('/imageservlet?webImageName=button_add_to_bag.gif&languageId=EN');
	    background-repeat:no-repeat;
	    display:block;
	    margin:0 auto;
	    padding:5px 0px 5px 12px;
	    height:16px;
	    width:80px;
	    float:left;
	    font-weight:bold;
		text-decoration:none;
	    border:none;
	    color:#fff;
}
a.button_style_4:link,a.button_style_4:active,a.button_style_4:visited,a.button_style_4:hover, .button_style_4 {
	    border-top:1px solid #0593A7;
	    border-left:1px solid #0593A7;
	    border-bottom:1px solid #0593A7;
	    border-right:1px solid #0593A7;
	    background-color:#0593A7;
	    color:#FFFFFF;
	    font-weight:bold;
	    padding:2px 5px 2px 5px;
	    display:inline-block;
	    white-space:nowrap;
}
a.button_style_5:link,a.button_style_5:active,a.button_style_5:visited,a.button_style_5:hover, .button_style_5 {
	    border-top:1px solid #0782C8;
	    border-left:1px solid #0782C8;
	    border-bottom:1px solid #0782C8;
	    border-right:1px solid #0782C8;
	    background-color:#0782C8;
	    color:#FFFFFF;
	    font-weight:bold;
	    padding:2px 5px 2px 5px;
	    display:inline-block;
	    white-space:nowrap;
}
a.button_style_6:link,a.button_style_6:active,a.button_style_6:visited,a.button_style_6:hover, .button_style_6 {
	    border-top:1px solid #5A791C;
	    border-left:1px solid #5A791C;
	    border-bottom:1px solid #5A791C;
	    border-right:1px solid #5A791C;
	    background-color:#5A791C;
	    color:#FFFFFF;
	    font-weight:bold;
	    padding:2px 5px 2px 5px;
	    display:inline-block;
	    white-space:nowrap;
}
a.button_style_7:link,a.button_style_7:active,a.button_style_7:visited,a.button_style_7:hover, .button_style_7 {
	    border-top:1px solid #5A791C;
	    border-left:1px solid #5A791C;
	    border-bottom:1px solid #5A791C;
	    border-right:1px solid #5A791C;
	    background-color:#5A791C;
	    color:#FFFFFF;
	    font-weight:bold;
	    padding:2px 5px 2px 5px;
	    display:inline-block;
	    white-space:nowrap;
}
a.button_style_8:link,a.button_style_8:active,a.button_style_8:visited,a.button_style_8:hover, .button_style_8 {
	    border-top:1px solid #5A791C;
	    border-left:1px solid #5A791C;
	    border-bottom:1px solid #5A791C;
	    border-right:1px solid #5A791C;
	    background-color:#5A791C;
	    color:#FFFFFF;
	    font-weight:bold;
	    padding:2px 5px 2px 5px;
	    display:inline-block;
	    white-space:nowrap;
}
a.button_style_9:link,a.button_style_9:active,a.button_style_9:visited,a.button_style_9:hover, .button_style_9 {
	    border-top:1px solid #5A791C;
	    border-left:1px solid #5A791C;
	    border-bottom:1px solid #5A791C;
	    border-right:1px solid #5A791C;
	    background-color:#5A791C;
	    color:#FFFFFF;
	    font-weight:bold;
	    padding:2px 5px 2px 5px;
	    display:inline-block;
	    white-space:nowrap;
}
a.button_style_10:link,a.button_style_10:active,a.button_style_10:visited,a.button_style_10:hover, .button_style_10 {
	    border-top:1px solid #5A791C;
	    border-left:1px solid #5A791C;
	    border-bottom:1px solid #5A791C;
	    border-right:1px solid #5A791C;
	    background-color:#5A791C;
	    color:#FFFFFF;
	    font-weight:bold;
	    padding:2px 5px 2px 5px;
	    display:inline-block;
	    white-space:nowrap;
}
.copy {
		 padding:0px 0px 10px 0px;
}
.button_back {
		 padding:15px 0px 10px 0px;
}
.button_send {
		 padding:15px 0px 10px 0px;
		 text-align:right;
}
.Password_Popup {
	    width: 397px;
	    border: 2px solid #cecece;
	    position: absolute;
	    top: 300px;
	    left: 250px;
	    background-color: #fff;
}
.table_style_4 .send_button {
	  padding:5px 5px 10px 5px;
}
.table_style_4 td {
	  padding:0px 10px 5px 5px;
}
.enclosing_table {
		 width:100%;
}
.product_list {
		text-align:center;
	    padding-top: 10px;
}
.product_list>table {
		margin:0px auto 0px auto;
}
.product_cell_1 {
		padding:0px;
		vertical-align:top;
		text-align:center;
}
.product_cell_2 {
		padding-left:10px;
		vertical-align:top;
		text-align:center;
}
.product_cell_3 {
		padding-left:10px;
		vertical-align:top;
		text-align:center;
}
.product_cell_4 {
		 padding-left:10px;
		 vertical-align:top;
		 text-align:center;
}
td.product_image {
		 padding:0px 0px 5px 0px;
	     text-align:left;
}
.product_info_table {
		 width:100%;
}
.Error_headerLink {
	    background-image:url('/imageservlet?webImageName=header_back.jpg&languageId=en_us');
		background-repeat: no-repeat;
	    padding: 3px 10px 5px 28px;
	    height: 22px;
		font-weight:bold;
}
.enclosing_table {
	    margin: 5px;
}
table.product_detail_table {
		 width:100%;
	     text-align: center;
}
.products_table {
	    width: 470px;
}
.product_info_table td {
	    padding: 1px 1px 0px 10px;
	    text-align: left;
}
.product_info_table td.product_brand {
	    font-weight: bold;
}
.current_price {
		color:#970100;
		display:block;
		font-weight:bold;
}
.product_info_table td.product_name {
	    font-weight: bold;
}
.padding_bottom_25 {
		padding-bottom:25px;
}
.error_link {
	    padding-left:130px;
	    padding-top:10px;
	    padding-right:12px;
}
.error_link_two {
	    padding-left:50px;
	    padding-top:10px;
	    padding-right:12px;
}

